




footer {
    background-color: #111;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    border-top: 2px solid #333;
}

footer p {
    margin: 5px 0;
    font-size: 14px;
    color: #ccc;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 8px;
    transition: 0.3s;
}

footer a:hover {
    color: #f5c518; /* jaune cinéma */
}

footer div {
    margin-top: 10px;
}